body {
    font-family: Garamond, "Times New Roman", serif;
    font-size: 12pt;
    
    background-color: black;
    color: white;
    
    padding: 0;
    margin: 0;
}

#content {
    width: 30%;
    min-width: 200px;
    
    margin-left: 5%;
}

article {
    background-color: green;
    
    border: 1px solid black;
    
    margin-top: 1em;
    margin-bottom: 1em;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
    color: #9BC95F;
}

article:first-letter {
  font-size: 1.5em;
}




