body {
    font-family: Garamond, "Times New Roman", serif;
    font-size: 12pt;
    
    background-color: black;
    background-image: url('Herfst_in_Belgie.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: white;
    
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 90%;
    max-width: 800px;
    min-width: 200px;
    
    height: 100%;
    overflow: auto;
    margin-left: 5%;
}

#content {
  float: left;
  width: 50%;
  
  margin-left: 5%;
  margin-right: 5%;
}

article {
    background-color: green;
    opacity: 0.9;
    
    border: 1px solid black;
    
    margin-top: 1em;
    margin-bottom: 1em;
    
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    
    color: #9BC95F;
}

article:first-letter {
  font-size: 1.5em;
}

#add_article textarea {
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 95%;
  resize: none;
}

#add_article button {
  color: white;
  background: black;
  font-family: Garamond, "Times New Roman", serif;
}

#zoom {
  float: left;
  width: 35%;
  
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-top: 0.5em;
  
  font-size: 2em;
  
  color: white;
  background-color: #060000;
  opacity: 0.8;
}


