nav ul {
    list-style: none;
    display: inline-block;
}

nav>ul>li {
  display: inline-block;
  position: relative;
}

nav ul li ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0em;
  width: 200px;
}

nav ul li:hover > ul {
  display: block;
}
